{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader() }}

{% if user %}
  {{ govukServiceNavigation({
    serviceName: "Check your probation account",
    serviceUrl: "/",
    collapseNavigationOnMobile: true,
    navigation: [
      {
        href: "/",
        text: "Home",
        active: currentPage === "home"
      },
      {
        href: "/appointments",
        text: "Appointments and activities",
        active: currentPage === "appointments"
      },
      {
        href: "/goals",
        text: "Goals",
        active: currentPage === "goals"
      },
      {
        href: "/requirements",
        text: "Order requirements",
        active: currentPage === "requirements"
      },
      {
        href: "/sign-out",
        text: "Sign out",
        active: false
      }
    ]
  }) }}
{% else %}
  {{ govukServiceNavigation({
    serviceName: "Check your probation account",
    serviceUrl: "/"
  }) }}
{% endif %}
