{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% if user %}
    <link href="{{ '/assets/css/chatbot.css' | assetMap }}" rel="stylesheet"/>
  {% endif %}
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype",
      classes: "govuk-tag--blue"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
  }) }}
  {% block breadcrumb %}{% endblock %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {% if user %}
    <div id="chatbot-root"></div>
    <meta name="csrf-token" content="{{ csrfToken }}">
    <script type="module" src="{{ '/assets/js/chatbot.js' | assetMap }}"></script>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
