NODE_ENV=development
PORT=3000
ENVIRONMENT_NAME=dev

# HMPPS Auth
HMPPS_AUTH_URL=http://localhost:9090/auth
HMPPS_AUTH_EXTERNAL_URL=http://localhost:9090/auth
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Downstream APIs
PEOPLE_ON_PROBATION_API_URL=http://localhost:8080
PEOPLE_ON_PROBATION_API_TIMEOUT_RESPONSE=5000
PEOPLE_ON_PROBATION_API_TIMEOUT_DEADLINE=5000
TOKEN_VERIFICATION_API_URL=http://localhost:8100
TOKEN_VERIFICATION_ENABLED=false

# Redis
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TLS_ENABLED=false

# App behaviour
NO_HTTPS=true
