NODE_ENV=development
PORT=3000
ENVIRONMENT_NAME=dev

# HMPPS Auth
HMPPS_AUTH_URL=http://localhost:9090/auth
HMPPS_AUTH_EXTERNAL_URL=http://localhost:9090/auth
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Session
SESSION_SECRET=app-insecure-default-session
WEB_SESSION_TIMEOUT_IN_MINUTES=120

# Downstream APIs
PEOPLE_ON_PROBATION_API_URL=http://localhost:8080
PEOPLE_ON_PROBATION_API_TIMEOUT_RESPONSE=5000
PEOPLE_ON_PROBATION_API_TIMEOUT_DEADLINE=5000

# Chatbot API
POP_CHATBOT_API_URL=chatbot-api-url
POP_CHATBOT_API_KEY=chatbot-api-key

# GOV.UK One Login
ONE_LOGIN_ISSUER_URL=
ONE_LOGIN_CLIENT_ID=
ONE_LOGIN_REDIRECT_URI=http://localhost:3000/sign-in/callback
ONE_LOGIN_POST_LOGOUT_REDIRECT_URI=http://localhost:3000
ONE_LOGIN_SCOPES=openid email phone
ONE_LOGIN_VTR=Cl.Cm
ONE_LOGIN_KEY_ID=
ONE_LOGIN_PRIVATE_KEY_BASE64=
ONE_LOGIN_PUBLIC_KEY_BASE64=

# Redis
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TLS_ENABLED=false

# App behaviour
NO_HTTPS=true
