$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/progress';
@import './components/hub-cards';
@import './components/summary-card';
@import './components/timeout-warning';
@import './components/goal-card';
@import './components/show-details';
@import './components/feedback';
@import './components/video-embed';
@import './components/welcome';
@import './components/admin-preview-banner';
@import './overrides/header';
@import './overrides/local';
