$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";

@import './components/card-links';
@import './components/lovable-overrides';
@import './overrides/local';
@import './pop-local';
