.pop-card {
  display: block;
  border: 1px solid #d9dadb;
  border-bottom: 5px solid #d9dadb;
  padding: govuk-spacing(6);
  text-decoration: none;
  height: 100%;

  &:hover {
    border-color: govuk-colour('blue');

    .pop-card__title {
      text-decoration-thickness: 3px;
    }
  }

  &__title {
    color: govuk-colour('blue');
    text-decoration: underline;
    margin-bottom: govuk-spacing(2);
  }

  &__body {
    color: govuk-colour('black');
    margin-bottom: 0;
  }
}

// Ensure cards in a card-row stretch to equal height
.pop-card-row [class*="govuk-grid-column"] {
  display: flex;
  flex-direction: column;

  .pop-card {
    flex: 1;
  }
}
