.pop-progress {
  &__bar-row {
    display: flex;
    align-items: center;
    gap: govuk-spacing(3);
  }

  &__bar-wrapper {
    flex: 1;
    height: 15px;
    background-color: #d9d9d9;
  }

  &__title {
    @include govuk-font($size: 19, $weight: bold);
    margin-bottom: govuk-spacing(2);
  }

  &__bar {
    display: block;
    width: 100%;
    height: 100%;
    appearance: none;
    border: 0;
    background-color: transparent;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: govuk-colour('black');
    }

    &::-moz-progress-bar {
      background-color: govuk-colour('black');
    }

    &--blue {
      &::-webkit-progress-value {
        background-color: govuk-colour('blue');
      }

      &::-moz-progress-bar {
        background-color: govuk-colour('blue');
      }
    }
  }

  &__remaining {
    flex-shrink: 0;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: right;
  }
}
