{% extends "../../partials/layout.njk" %}
{% set pageTitle = "You cannot use this service – Admin" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You cannot use this service</h1>

      <p class="govuk-body">Your HMPPS Auth account does not have permission to use the admin preview feature.</p>

    </div>
  </div>
{% endblock %}
