{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "Probation agreement – Check your probation account – GOV.UK" %}
{% set currentPage = "expectations" %}

{% block breadcrumb %}
  {{ govukBackLink({ text: "Home", href: "/" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Probation agreement</h1>

  <p class="govuk-body">This is a summary of the agreement you signed at the start of your probation.</p>

  <nav class="moj-sub-navigation govuk-!-margin-bottom-6" aria-label="Expectation tabs">
    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link{% if tab !== 'probation-service' %} moj-sub-navigation__link--active{% endif %}"
           href="/expectations?tab=you"
           {% if tab !== 'probation-service' %}aria-current="page"{% endif %}>
          What we expect from you
        </a>
      </li>
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link{% if tab === 'probation-service' %} moj-sub-navigation__link--active{% endif %}"
           href="/expectations?tab=probation-service"
           {% if tab === 'probation-service' %}aria-current="page"{% endif %}>
          What to expect from the Probation Service
        </a>
      </li>
    </ul>
  </nav>

  <div id="panel-you" {% if tab === 'probation-service' %}hidden{% endif %}>

    <h2 class="govuk-heading-l">What we expect from you while on probation</h2>

    <h3 class="govuk-heading-m">Requirements</h3>
    <p class="govuk-body">Take some time to understand <a class="govuk-link govuk-link--no-visited-state" href="/requirements">your order requirements</a>. If you do not follow your requirements, you could breach your probation and go back to court.</p>

    <h3 class="govuk-heading-m">Behaviour</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Be respectful to your probation officer, staff, and other people on probation</li>
      <li>Do not use threats, violence, or intimidation towards staff or others</li>
      <li>Do not take photos, videos, or recordings during appointments or in probation settings</li>
      <li>Do not attend appointments under the influence of alcohol or illegal drugs</li>
      <li>If you need support to help you make positive changes, or to avoid committing crimes, talk with your probation officer. For example, reach out if you're struggling with alcohol use.</li>
    </ul>

    <h3 class="govuk-heading-m">Contact details</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>If your contact details change, tell your probation officer as soon as possible. We always need to be able to contact you.</li>
      <li>If you want to move address, ask your probation officer for permission before moving</li>
      <li>If you become homeless, or have no fixed address, tell your probation officer. And check in with them regularly.</li>
      <li>Allow probation staff to visit you in your home when needed. If you have concerns about this, speak to your probation officer.</li>
      <li>We may contact you to share important updates about your probation</li>
    </ul>

    <h3 class="govuk-heading-m">Appointments</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>Be on time for appointments</li>
      <li>If you cannot attend an appointment, let your probation officer know as soon as possible. You'll need to provide evidence to explain why you cannot attend.</li>
      <li>If you miss a mandatory appointment, you need to provide evidence to explain why you could not attend. You must do this within 5 days of the missed appointment.</li>
      <li>If you miss an appointment because of your health, you will need to provide medical evidence – for example, a doctor's note. You can use a maximum of 2 self-certificates within a 12-month period. A self-certificate applies for 7 calendar days. We may also ask if we can discuss evidence with your GP.</li>
      <li>If you miss an appointment because you were working, you will need to provide written proof that you were working during the time of the appointment. Do this within 5 working days of missing the appointment. If you cannot attend appointments in the day, we might be able to arrange appointments later.</li>
      <li>If you miss appointments without a good reason, we may take further action. This could mean you have to go back to court.</li>
    </ul>

    <h3 class="govuk-heading-m">Understanding your conditions</h3>
    <p class="govuk-body">If you need help understanding your requirements, expectations, or sentence plan, ask your probation officer.</p>

  </div>

  <div id="panel-probation-service" {% if tab !== 'probation-service' %}hidden{% endif %}>

    <h2 class="govuk-heading-l">What to expect from the Probation Service</h2>

    <h3 class="govuk-heading-m">Behaviour</h3>
    <p class="govuk-body">The Probation Service will:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>treat you fairly and with respect</li>
      <li>listen to your concerns, circumstances and needs</li>
      <li>make sure your records are accurate and kept safe</li>
      <li>be on time for your appointments. If we are late, we will tell you why</li>
      <li>usually ask you before sharing your information. However, in some situations we may need to share your information without asking first. For example, to prevent crime, or to keep you or others safe.</li>
    </ul>

    <h3 class="govuk-heading-m">Progress</h3>
    <p class="govuk-body">The Probation Service will:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>tell you when you have appointments with the Probation Service or other agencies</li>
      <li>tell you if you can stop attending appointments in-person after you have completed a part of your sentence</li>
      <li>tell you where you can get support. For example, if you're struggling with alcohol or drug use</li>
      <li>work with you on an ongoing 'sentence plan'. This will include goals to help you stay on a positive path</li>
      <li>help you avoid committing crime</li>
    </ul>

    <p class="govuk-body">If you do not follow your sentence, we will have to take action. This could lead to your case returning to court.</p>

  </div>

{% endblock %}
