{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "Feedback" %}
{% set currentPage = "feedback" %}

{% block breadcrumb %}
  {{ govukBackLink({ text: "Home", href: "/" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Give feedback</h1>

  <p class="govuk-body">Help us improve this service by sharing your feedback.</p>

  <iframe
    id="pop-feedback-frame"
    class="pop-feedback-frame"
    src="https://www.smartsurvey.co.uk/t/78DZPT/"
    frameborder="0"
    title="Feedback survey"
    allowfullscreen
  ></iframe>

{% endblock %}
