{% extends "../partials/layout.njk" %}
{% from "moj/components/alert/macro.njk" import mojAlert %}
{% from "partials/progress-bar.njk" import progressBar %}
{% set pageTitle = "Home – Check your probation account – GOV.UK" %}
{% set currentPage = "home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Home</h1>

      {% if nextAppointment %}
        {% if nextAppointment.variant === "mandatory-appointment" %}
          {{ mojAlert({
            title: "Next mandatory appointment",
            showTitleAsHeading: true,
            variant: "information",
            html: '<p class="govuk-body govuk-!-margin-bottom-0">' + nextAppointment.date + (', ' + nextAppointment.timeRange if nextAppointment.timeRange else '') + '<br><a class="govuk-link govuk-link--no-visited-state" href="/appointments">See appointment</a>.</p>'
          }) }}
        {% elif nextAppointment.variant === "activity" %}
          {{ mojAlert({
            title: "Next activity",
            showTitleAsHeading: true,
            variant: "information",
            html: '<p class="govuk-body govuk-!-margin-bottom-0">' + nextAppointment.date + (', ' + nextAppointment.timeRange if nextAppointment.timeRange else '') + '<br><a class="govuk-link govuk-link--no-visited-state" href="/appointments">See activity</a>.</p>'
          }) }}
        {% else %}
          {{ mojAlert({
            title: "Next appointment",
            showTitleAsHeading: true,
            variant: "information",
            html: '<p class="govuk-body govuk-!-margin-bottom-0">' + nextAppointment.date + (', ' + nextAppointment.timeRange if nextAppointment.timeRange else '') + '<br><a class="govuk-link govuk-link--no-visited-state" href="/appointments">See appointment</a>.</p>'
          }) }}
        {% endif %}
      {% endif %}

      {% if missedAppointmentsCount > 1 %}
        {{ mojAlert({
          variant: "error",
          title: missedAppointmentsCount + " missed mandatory appointments or activities",
          showTitleAsHeading: true,
          html: '<p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="/appointments">See appointments or activities</a>.</p>',
          dismissible: true
        }) }}
      {% elif missedAppointment %}
        {{ mojAlert({
          variant: "error",
          title: "Missed mandatory appointment or activity",
          showTitleAsHeading: true,
          html: '<p class="govuk-body govuk-!-margin-bottom-0">' + missedAppointment.date + (', ' + missedAppointment.timeRange if missedAppointment.timeRange else '') + '<br><a class="govuk-link govuk-link--no-visited-state" href="/appointments">See appointment or activity</a>.</p>',
          dismissible: true
        }) }}
      {% endif %}

      {% if orderProgress %}
        <div class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l">Overall order</h2>
          <div class="pop-progress__row">
            {{ progressBar({
              percentComplete: orderProgress.percentComplete,
              completedDuration: orderProgress.completedDuration,
              remainingDuration: orderProgress.remainingDuration
            }) }}
          </div>
        </div>
      {% endif %}

      <div class="govuk-grid-row pop-card-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-half">
          <a href="/appointments" class="pop-card">
            <h2 class="govuk-heading-m pop-card__title">Appointments and activities</h2>
            <p class="govuk-body pop-card__body">Check your appointments and activities</p>
          </a>
        </div>
        <div class="govuk-grid-column-one-half">
          <a href="/goals" class="pop-card">
            <h2 class="govuk-heading-m pop-card__title">Goals</h2>
            <p class="govuk-body pop-card__body">See the goals in your sentence plan</p>
          </a>
        </div>
      </div>

      <div class="govuk-grid-row pop-card-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-one-half">
          <a href="/requirements" class="pop-card">
            <h2 class="govuk-heading-m pop-card__title">Order requirements</h2>
            <p class="govuk-body pop-card__body">See progress against your order requirements</p>
          </a>
        </div>
      </div>

      <h2 class="govuk-heading-l">Other information</h2>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="/details">Your details</a></li>
        <li><a class="govuk-link" href="/probation-officer">Probation officer details</a></li>
        <li><a class="govuk-link" href="/expectations">Probation agreement</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
