{% extends "../partials/layout.njk" %}
{% set pageTitle = "Your invite has expired" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your invite has expired</h1>

      <p class="govuk-body">Contact your probation officer to ask them to send a new link.</p>

    </div>
  </div>
{% endblock %}
