{% extends "../partials/layout.njk" %}

{% set pageTitle = "Privacy notice – Check your probation account – GOV.UK" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Privacy notice – Check your probation account</h1>

      <h2 class="govuk-heading-m">Purpose</h2>

      <p class="govuk-body">This privacy notice explains the standards that you can expect from the Probation Service when we request, use or hold personal information ('personal data') about you, how you can get access to a copy of your personal data, and how you can complain if you think we have done something wrong.</p>

      <p class="govuk-body">The way we deal with your information has not changed, but this notice is an update to the previous one to clarify the information you need to know.</p>

      <p class="govuk-body">The National Probation Service (NPS) is one part of His Majesty's Prison and Probation Service (HMPPS) which is part of the Ministry of Justice (MoJ).</p>

      <h2 class="govuk-heading-m">Definitions</h2>

      <p class="govuk-body">Data Controller has the same meaning as defined under Article 4 of the GDPR and the Data Protection Act 2018.</p>

      <p class="govuk-body">Personal data or Personal Information has the same meaning as defined under Article 4 of the GDPR and the Data Protection Act 2018.</p>

      <p class="govuk-body">The MoJ is the data controller for the personal information we hold in HMPPS. We need to collect your personal information to carry out functions such as delivering sentences given by the courts, in custody and the community, and rehabilitating people in our care through education and employment.</p>

      <h2 class="govuk-heading-m">Types of personal data we process</h2>

      <p class="govuk-body">We only process personal data that is relevant for the services we are providing to you. This includes: your name and address, telephone number, date of birth, gender, ethnic origin, details of any offences including previous convictions, information about court orders and licence conditions.</p>

      <h2 class="govuk-heading-m">Purpose of processing and the lawful basis for the process</h2>

      <p class="govuk-body">Your personal information that we collect is used to help us make decisions about you and your progress.</p>

      <p class="govuk-body">We also have a lawful duty to prevent and detect crime, and the collection and use of your personal information is also necessary to enable us to comply with obligations under the Prison Act 1952, the Prison Rules 1999, the Offender Management Act 2007, and the Children's Act 2004.</p>

      <h2 class="govuk-heading-m">Who the information may be shared with</h2>

      <p class="govuk-body">We sometimes need to share the personal information we collect with other organisations. Where this is necessary, we will comply with all aspects of the data protection legislation, in particular the Data Protection Act 2018.</p>

      <p class="govuk-body">We sometimes share some information about you with other organisations including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the courts or Parole Board if you breach your supervision</li>
        <li>Community Rehabilitation Companies (CRCs)</li>
        <li>the victim or victims of a serious offence, if they have asked us to keep them informed of your progress</li>
        <li>other criminal justice agencies</li>
      </ul>

      <p class="govuk-body">From time to time, we may involve other organisations who can help you further. We may need to pass some information to the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>National Health Service (NHS)</li>
        <li>Social Services</li>
        <li>Employment Service or agencies</li>
        <li>counsellors</li>
        <li>drug and alcohol support groups</li>
        <li>mental health support groups</li>
        <li>other specialist groups</li>
      </ul>

      <p class="govuk-body">We will normally tell you before passing your personal information onto others; however, in some cases (such as safeguarding cases) we may not be required to inform you, but this will be in compliance with data protection laws.</p>

      <h2 class="govuk-heading-m">Retention period for information collected</h2>

      <p class="govuk-body">We have a detailed policy as to how long we need to keep your personal information. If you have any questions about this please speak to your Offender Manager, who will discuss with the appropriate member of staff.</p>

      <h2 class="govuk-heading-m">Access to personal information</h2>

      <p class="govuk-body">You can find out if we hold any personal data about you by making a 'subject access request'. If you wish to make a subject access request, please speak to your Offender Manager who can discuss how you do this. Alternatively, you may send your request for personal information to <a class="govuk-link" href="mailto:Data.Access1@justice.gov.uk">Data.Access1@justice.gov.uk</a> and we will process your request as required under the data protection legislation.</p>

      <h2 class="govuk-heading-m">When we ask you for personal data</h2>

      <p class="govuk-body">We promise to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>inform you why we need your personal data and ask only for the personal data we need, and not collect information that is irrelevant or excessive</li>
        <li>only, where relevant and necessary, share your personal information with other organisations</li>
        <li>make sure we don't keep your personal information longer than is necessary</li>
        <li>not make your personal information available for sale to others</li>
        <li>consider your request to correct, stop collecting or delete your personal information if relevant and legal</li>
      </ul>

      <p>Occasionally we may use your contact information to ask you if you would like to complete a survey, or take part in research about your probation account. We use this information to see where and how we could improve our services to you.</p>

      <p class="govuk-body">You can refuse to agree to share information at any time, but only where it is legal to do so. You can discuss with your Offender Manager if you have any questions or concerns.</p>

      <p class="govuk-body">You should protect your information and make sure no unauthorised person has access to it. If you have personal information in your possession and are concerned about keeping it safe, please speak to your Offender Manager.</p>

      <p class="govuk-body">You can get more details on:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>agreements we have with other organisations for sharing information</li>
        <li>our instructions to staff on how to collect and manage your personal information</li>
        <li>how we check that the information we hold is accurate and up to date</li>
        <li>how to make a complaint</li>
      </ul>

      <p class="govuk-body">For more information about the above points, please speak to your Offender Manager.</p>

      <h2 class="govuk-heading-m">Complaints</h2>

      <p class="govuk-body">When we ask you for information, we will keep to the law. If you consider that your personal information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection. You can contact the Information Commissioner at:</p>

      <p class="govuk-body">
        Information Commissioner's Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF<br>
        Tel: 0303 123 1113<br>
        <a class="govuk-link" href="https://www.ico.org.uk">www.ico.org.uk</a>
      </p>

      <p class="govuk-body">
        On behalf of the MoJ Data Protection Officer<br>
        102 Petty France<br>
        London<br>
        SW1H 9AJ
      </p>

    </div>
  </div>
{% endblock %}
