{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set pageTitle = "Probation officer details" %}
{% set currentPage = "probation-officer" %}

{% block breadcrumb %}
  {{ govukBackLink({ text: "Home", href: "/" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Probation officer details</h1>

  <div class="govuk-!-margin-top-6">

    {% if officer %}
      <div class="pop-summary-card">
        <div class="pop-summary-card__header">
          <span class="pop-summary-card__type">Probation officer details</span>
        </div>
        <dl class="pop-summary-card__details">
          {% if officer.name %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Name</dt>
              <dd class="pop-summary-card__value">{{ officer.name }}</dd>
            </div>
          {% endif %}
          {% if officer.phoneNumber %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Phone number</dt>
              <dd class="pop-summary-card__value">{{ officer.phoneNumber }}</dd>
            </div>
          {% endif %}
          {% if officer.officeAddress.length %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Office address</dt>
              <dd class="pop-summary-card__value">
                {% for line in officer.officeAddress %}
                  {{ line }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
              </dd>
            </div>
          {% endif %}
        </dl>
      </div>
    {% else %}
      <p class="govuk-body">No probation officer details are available at this time.</p>
    {% endif %}

  </div>

{% endblock %}
