{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "Your probation progress" %}
{% set currentPage = "progress" %}

{% block breadcrumb %}
  {{ govukBackLink({ text: "Home", href: "/" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Your probation progress</h1>

  {% if lastUpdatedAt %}
    <p class="govuk-body govuk-colour-secondary">Last updated on {{ lastUpdatedAt }}</p>
  {% endif %}

  {% include "../partials/mini-hub.njk" %}

  <div class="govuk-!-margin-top-6">

    {% if overallOrder %}
      <h2 class="govuk-heading-m">Overall order</h2>

      <div class="pop-progress govuk-!-margin-bottom-4">
        <div class="pop-progress__bar-row">
          <div class="pop-progress__bar-wrapper">
            <progress class="pop-progress__bar" value="{{ overallOrder.percentComplete }}" max="100">
              {{ overallOrder.percentComplete }}%
            </progress>
          </div>
          <p class="govuk-body pop-progress__remaining">{{ overallOrder.remainingDuration }} left</p>
        </div>
      </div>

      <div class="pop-summary-card govuk-!-margin-bottom-9">
        <div class="pop-summary-card__header">
          <span class="pop-summary-card__type">{{ overallOrder.type or "Sentence" }}</span>
        </div>
        <dl class="pop-summary-card__details">
          {% if overallOrder.startDate %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Order start date</dt>
              <dd class="pop-summary-card__value">{{ overallOrder.startDate }}</dd>
            </div>
          {% endif %}
          {% if overallOrder.endDate %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Order end date</dt>
              <dd class="pop-summary-card__value">{{ overallOrder.endDate }}</dd>
            </div>
          {% endif %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Time remaining</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.remainingDuration }}</dd>
          </div>
        </dl>
      </div>
    {% endif %}

    {% if requirements.length %}
      <h2 class="govuk-heading-m">Order requirements</h2>

      {% for requirement in requirements %}
        <div class="pop-progress govuk-!-margin-bottom-4">
          <p class="pop-progress__title">{{ requirement.label }} – progress</p>
          <div class="pop-progress__bar-row">
            <div class="pop-progress__bar-wrapper">
              <progress class="pop-progress__bar pop-progress__bar--blue" value="{{ requirement.percentComplete }}" max="100">
                {{ requirement.percentComplete }}%
              </progress>
            </div>
            <p class="govuk-body pop-progress__remaining">
            {%- if requirement.remaining is defined -%}
              {{ requirement.remaining }} {{ requirement.unitLabel }}
            {%- else -%}
              {{ requirement.remainingDuration }}
            {%- endif %} left
          </p>
          </div>
        </div>

        <div class="pop-summary-card govuk-!-margin-bottom-6">
          <div class="pop-summary-card__header">
            <span class="pop-summary-card__type">{{ requirement.label }}</span>
            {% if not requirement.required %}
              <div class="pop-summary-card__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="/requirements">View requirements</a>
              </div>
            {% endif %}
          </div>
          <dl class="pop-summary-card__details">
            {% if requirement.required %}
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">Total {{ requirement.unitLabel }} on order</dt>
                <dd class="pop-summary-card__value">{{ requirement.required }} {{ requirement.unitLabel }}</dd>
              </div>
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">{{ requirement.unitLabel | capitalize }} completed</dt>
                <dd class="pop-summary-card__value">{{ requirement.completed }} {{ requirement.unitLabel }}</dd>
              </div>
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">{{ requirement.unitLabel | capitalize }} remaining</dt>
                <dd class="pop-summary-card__value">{{ requirement.remaining }} {{ requirement.unitLabel }}</dd>
              </div>
            {% elif requirement.startDate %}
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">Start date</dt>
                <dd class="pop-summary-card__value">{{ requirement.startDate }}</dd>
              </div>
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">End date</dt>
                <dd class="pop-summary-card__value">{{ requirement.endDate }}</dd>
              </div>
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">Time remaining</dt>
                <dd class="pop-summary-card__value">{{ requirement.remainingDuration }}</dd>
              </div>
            {% endif %}
          </dl>
        </div>
      {% endfor %}
    {% endif %}

  </div>

{% endblock %}
