{% extends "../partials/layout.njk" %}
{% from "../macros/showDetails.njk" import showDetails %}
{% from "partials/progress-bar.njk" import progressBar %}

{% set pageTitle = "Order requirements – Check your probation account – GOV.UK" %}
{% set currentPage = "requirements" %}

{% block content %}

  <h1 class="govuk-heading-xl">Order requirements</h1>

  <p class="govuk-body">
    Make sure you follow the requirements included in your order. If you don’t, you could breach your probation, and could go back to court.
  </p>
  <p class="govuk-body">
    See also a summary of your <a class="govuk-link govuk-link--no-visited-state" href="/probation-agreement">probation agreement</a>.
  </p>

  {% if overallOrder %}
    <h2 class="govuk-heading-m">Progress in overall order</h2>

    <div class="pop-progress__row govuk-!-margin-bottom-4">
      {{ progressBar({
        percentComplete: overallOrder.percentComplete,
        completedDuration: overallOrder.completedDuration,
        remainingDuration: overallOrder.remainingDuration
      }) }}
    </div>

    <div class="pop-summary-card govuk-!-margin-bottom-9">
      <div class="pop-summary-card__header">
        <h3 class="pop-summary-card__type">Order details</h3>
      </div>
      <dl class="pop-summary-card__details">
        {% if overallOrder.charge %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Charge</dt>
            <dd class="pop-summary-card__value">
              {{ showDetails({ id: "charge-detail", text: overallOrder.charge }) }}
            </dd>
          </div>
        {% endif %}
        {% if overallOrder.type %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Order type</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.type }}</dd>
          </div>
        {% endif %}
        {% if overallOrder.startDate %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Start date</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.startDate }}</dd>
          </div>
        {% endif %}
        {% if overallOrder.endDate %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">End date</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.endDate }}</dd>
          </div>
        {% endif %}
        {% if overallOrder.totalLength %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Total length of time</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.totalLength }}</dd>
          </div>
        {% endif %}
      </dl>
    </div>
  {% endif %}

  {% if requirements.length %}
    <h2 class="govuk-heading-l pop-requirements__section-heading">Requirements in your order</h2>

    {% if lastUpdatedAt %}
      <div class="govuk-inset-text guidance-panel govuk-!-margin-bottom-6" id="requirements-last-updated">
        <p class="govuk-body govuk-!-margin-bottom-0">Your requirements were last updated on {{ lastUpdatedAt }}</p>
      </div>
    {% endif %}

    {% for requirement in requirements %}
      <div class="govuk-!-margin-bottom-2">
        <h3 class="govuk-heading-m">{{ requirement.label }}</h3>
        {% if not requirement.isRAR %}
          <h4 class="pop-progress__title">Progress in {{ requirement.label }}{{ " (unpaid work)" if requirement.isUnpaidWork }}</h4>
          <div class="pop-progress__row govuk-!-margin-bottom-4">
            {{ progressBar({
              percentComplete: requirement.percentComplete,
              completedDuration: requirement.completedDuration,
              remainingDuration: (requirement.remaining ~ " " ~ requirement.unitLabel) if requirement.remaining is defined else requirement.remainingDuration
            }) }}
          </div>
        {% endif %}
      </div>

      <div class="pop-summary-card govuk-!-margin-bottom-6">
        <div class="pop-summary-card__header">
          <h4 class="pop-summary-card__type">{{ "RAR" if requirement.isRAR else requirement.label }} details</h4>
        </div>
        <dl class="pop-summary-card__details">
          {% if requirement.required %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">{{ "Maximum" if requirement.isRAR else "Total" }} {{ requirement.unitLabel }} on order</dt>
              <dd class="pop-summary-card__value">{{ requirement.required }} {{ requirement.unitLabel }}</dd>
            </div>
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">{{ requirement.unitLabel | capitalize }} completed</dt>
              <dd class="pop-summary-card__value">{{ requirement.completed }} {{ requirement.unitLabel }}</dd>
            </div>
            {% if not requirement.isRAR %}
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">{{ requirement.unitLabel | capitalize }} remaining</dt>
                <dd class="pop-summary-card__value">{{ requirement.remaining }} {{ requirement.unitLabel }}</dd>
              </div>
            {% endif %}
          {% elif requirement.startDate %}
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">Start date and time</dt>
              <dd class="pop-summary-card__value">{{ requirement.startDate }}</dd>
            </div>
            <div class="pop-summary-card__row">
              <dt class="pop-summary-card__key">End date and time</dt>
              <dd class="pop-summary-card__value">{{ requirement.endDate }}</dd>
            </div>
            {% if requirement.totalLength %}
              <div class="pop-summary-card__row">
                <dt class="pop-summary-card__key">Total length of time</dt>
                <dd class="pop-summary-card__value">{{ requirement.totalLength }}</dd>
              </div>
            {% endif %}
          {% endif %}
        </dl>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
