{% extends "../partials/layout.njk" %}
{% from "../macros/showDetails.njk" import showDetails %}
{% from "../macros/whatDoesThisMean.njk" import whatDoesThisMean %}
{% from "partials/progress-bar.njk" import progressBar %}

{% set pageTitle = "Order requirements – Check your probation account – GOV.UK" %}
{% set currentPage = "requirements" %}

{% block content %}

  <h1 class="govuk-heading-xl">Order requirements</h1>

  <p class="govuk-body">
    Make sure you follow the requirements included in your order. If you don’t, you could breach your probation, and go back to court.
  </p>
  <p class="govuk-body">
    See also a summary of your <a class="govuk-link govuk-link--no-visited-state" href="/probation-agreement">probation agreement</a>.
  </p>

  {% if overallOrder %}
    <h2 class="govuk-heading-l pop-requirements__section-heading">Overall order</h2>

    <div class="pop-progress__row govuk-!-margin-bottom-4">
      {{ progressBar({
        percentComplete: overallOrder.percentComplete,
        completedDuration: overallOrder.completedDuration,
        remainingDuration: overallOrder.remainingDuration
      }) }}
    </div>

    <div class="pop-summary-card pop-summary-card--flat govuk-!-margin-bottom-9">
      <dl class="pop-summary-card__details">
        {% if overallOrder.charge %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Offence</dt>
            <dd class="pop-summary-card__value">
              {{ showDetails({ id: "charge-detail", text: overallOrder.charge }) }}
            </dd>
          </div>
        {% endif %}
        {% if overallOrder.type %}
          {% if overallOrder.type | lower == "community order" %}
            {% set orderTypeExplanationHtml %}
              <p class="govuk-body">Your order is a community order. It lets you stay in the community to serve your sentence instead of going to prison.</p>
              <p class="govuk-body">The court could ask you to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>do unpaid work, which is sometimes called community service</li>
                <li>go to appointments</li>
                <li>take part in activities to stop you from offending again</li>
                <li>get treatment or support</li>
              </ul>
              <p class="govuk-body">It is important to remember if you do not follow the rules of your order you could go back to court.</p>
              <p class="govuk-body">The court might decide to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>give you more strict rules to follow in the community</li>
                <li>add more time to your order</li>
              </ul>
            {% endset %}
          {% elif overallOrder.type | lower == "suspended sentence order" %}
            {% set orderTypeExplanationHtml %}
              <p class="govuk-body">Your sentence is called a suspended sentence. It is a prison sentence, but the court has decided to give you some rules to follow in the community instead so that you do not go to prison.</p>
              <p class="govuk-body">The court could ask you to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>do unpaid work, which is sometimes called community service</li>
                <li>go to appointments</li>
                <li>take part in activities to stop you from offending again</li>
                <li>get treatment or support</li>
              </ul>
              <p class="govuk-body">It is important to remember if you do not follow the rules of your order you could go back to court.</p>
              <p class="govuk-body">The court might decide to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>send you to prison</li>
                <li>give you more strict rules to follow in the community</li>
                <li>add more time to your order</li>
              </ul>
            {% endset %}
          {% endif %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Order type</dt>
            <dd class="pop-summary-card__value">
              {{ overallOrder.type }}
              {% if orderTypeExplanationHtml %}
                {{ whatDoesThisMean({
                  html: orderTypeExplanationHtml,
                  trackingId: "requirements_order_type_what_does_this_mean",
                  classes: "pop-order-type-details"
                }) }}
              {% endif %}
            </dd>
          </div>
        {% endif %}
        {% if overallOrder.startDate %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Start date</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.startDate }}</dd>
          </div>
        {% endif %}
        {% if overallOrder.endDate %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">End date</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.endDate }}</dd>
          </div>
        {% endif %}
        {% if overallOrder.totalLength %}
          <div class="pop-summary-card__row">
            <dt class="pop-summary-card__key">Total order length</dt>
            <dd class="pop-summary-card__value">{{ overallOrder.totalLength }}</dd>
          </div>
        {% endif %}
      </dl>
    </div>
  {% endif %}

  {% if requirements.length %}
    <h2 class="govuk-heading-l pop-requirements__section-heading">Requirements in your order</h2>

    <div class="pop-requirement-cards govuk-!-margin-bottom-9">
      {% for requirement in requirements %}
        <a class="pop-requirement-card" href="/requirements/{{ requirement.slug }}" data-tracking-id="requirements_view_{{ requirement.slug }}">
          <span class="pop-requirement-card__title">{{ requirement.label }}</span>
        </a>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
