{% extends "../partials/layout.njk" %}
{% set pageTitle = "Sorry, there is a problem with the service" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, we could not sign you in</h1>

      <p class="govuk-body">We could not sign you in using GOV.UK One Login.</p>

      <p class="govuk-body">Please try again later.</p>

      <p class="govuk-body">If you need to speak to someone, contact your probation officer.</p>

    </div>
  </div>
{% endblock %}
