{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Start – Check your probation account – GOV.UK" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds pop-welcome">

      <h1 class="govuk-heading-l">Start using your probation account</h1>

      <p class="govuk-body">Sign in to your probation account to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>see your upcoming appointments</li>
        <li>check your probation progress</li>
        <li>see the requirements of your probation</li>
      </ul>

      <p class="govuk-body">If you have any questions, contact your probation officer.</p>

      <p class="govuk-body">
        To start using your probation account, <strong>sign in or register</strong> with GOV.UK One Login.
      </p>

      <div class="pop-welcome__action">
        {{ govukButton({
          text: "Start now",
          href: signInStartUrl,
          isStartButton: true,
          classes: "govuk-!-margin-bottom-0"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
