{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Welcome to your online probation account – Check your probation account – GOV.UK" %}

{% block content %}
  <div class="pop-welcome">

    <h1 class="govuk-heading-xl">Welcome to your online probation account</h1>

    <p class="govuk-body">Find out what you can do with your account in this video:</p>

    <div class="pop-video-embed govuk-!-margin-bottom-6">
      <iframe
        src="https://www.veed.io/embed/00dc0b23-2d92-4136-8ab7-bebae086cc21?watermark=0&color=&sharing=0&title=0"
        frameborder="0"
        title="Welcome to your probation account"
        aria-label="A walkthrough video of probation accounts."
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe>
    </div>

    <div class="pop-welcome__action">
      {{ govukButton({
        text: "Continue to account",
        href: returnTo,
        classes: "govuk-!-margin-bottom-0"
      }) }}
    </div>

  </div>
{% endblock %}
